<ion-content>

  <div class="container" [class.open]="isMenuOpen" [class.close]="!isMenuOpen">
    <mat-card class="info-container" [class.resize]="isMenuOpen">
      <div class="title-container">
        <mat-icon>person</mat-icon>
        <h2>INFORMAÇÕES CADASTRAIS</h2>
      </div>
      <div class="user-infos">
        <div class="info">
          <p>Nome Fantasia</p>
          <span class="value">{{parkingData.fantasy_name}}</span>
        </div>

        <div class="info">
          <p>CNPJ</p>
          <span class="value">{{parkingData.cnpj}}</span>
        </div>

        <div class="info">
          <p>Endereço</p>
          <span class="value">{{parkingData.company_address}}</span>
        </div>

        <div class="info">
          <p>Email</p>
          <span class="value">{{parkingData.company_email}}</span>
        </div>

        <div class="info">
          <p>Razão social</p>
          <span class="value">{{parkingData.social_reason}}</span>
        </div>

        <div class="info">
          <p>Qtd de vagas disponiveis</p>
          <span class="value">{{parkingData.vacancies_number}}</span>
        </div>

        <div class="info">
          <p>Valor por hora</p>
          <span class="value">R${{parkingData.hour_price}}</span>
        </div>

        <!--
        <div class="info">
          <p>Valor diário</p>
          <span class="value">R${{parkingData.daily_price}}</span>
        </div>
-->
        <div class="info">
          <p>Vagas mensais</p>
          <span class="value">{{parkingData.monthly_vacancies}}</span>
        </div>

        <div class="info">
          <p>Valor Mensal</p>
          <span class="value">R${{parkingData.monthly_price}}</span>
        </div>

      </div>
      <button mat-button (click)="updateRegister()">Editar Informações</button>
    </mat-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="chat-button" routerLink="/chat-bot">
      <mat-icon>chat</mat-icon>
    </ion-fab>
  </div>
</ion-content>