.info-container {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    padding: 32px;
    border-radius: 10px;
    margin-top: 50px;
}

.container {
    margin-left: 64px;
    transition: margin-left 0.5s;
}

.resize {
    width: 70vw;
}
.user-infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    column-gap: 18px;
    p {
        font-size: 14px;
        font-weight: 500;
    }
   
    h2 {
        text-align: center;
    }
}

mat-icon {
    margin-top: 3px;
}

button {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 42px;
    width: 200px;
    justify-content: center;
    border: 2px solid lightblue;
    border-radius: 20px;
    margin-top: 50px;
}

.value {
    font-size: 16px;
    background: lightgrey;
    padding: 8px;
    border-radius: 20px;
    font-weight: normal !important;
    height: 52px;
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;

    p {
        margin-left: 8px;
        margin-bottom: 0;
        color: black;
    }
}

ion-content {
    --ion-background-color: #e5e5e5;
}

mat-card {
    background-color: snow;
}

.open {
    margin-left: 250px !important;
    transition: margin-left 0.5s !important;
}

.chat-button {
    cursor: pointer;
    background: cornflowerblue;
    padding: 16px;
    border-radius: 50%;
    position: fixed;
    right: 32px;
    bottom: 50px;
    width:60px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.close {
    margin-left: 64px;
    transition: margin-left 0.5s;
}
