<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-menu-button menu="side-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalhes da Vaga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="space-informations">
    <div class="spaces-container">
      <div class="parking-space" routerLink="/vacancy-details">
        <h2>Ocupada</h2>
      </div>
    </div>

    <mat-card>
      <div class="user-info">
        <p>Nome: <span class="value">Leandro Tecioni</span> </p>
        <p>Usuário: <span class="value">Leandrowisk</span></p>
        <p>Placa:<span class="value"> D781FD8</span> </p>
        <p>Modelo: <span class="value">Mustang</span> </p>
        <p>Marca: <span class="value">Ford</span></p>
        <p>Entrada: <span class="value">14:55 </span></p>
        <p>Forma de pagamento: <span class="value">Crédito</span></p>
        <p>Valor: <span class="value">24,39</span> </p>

        <div class="buttons-container">
          <button mat-button class="first">Voltar</button>
          <button mat-button>Cancelar aluguel</button>
        </div>
      </div>
    </mat-card>
  </div>


  <div class="table-container">

    <h2 class="table-title">Histórico de hoje</h2>
    <table mat-table [dataSource]="diaryHistoric" class="mat-elevation-z8">

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let historic">{{historic.date}}</td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> Usuário </th>
        <td mat-cell *matCellDef="let historic">{{historic.user}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let historic">{{historic.name}}</td>
      </ng-container>

      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef>Placa</th>
        <td mat-cell *matCellDef="let historic">{{historic.board}}</td>
      </ng-container>

      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let historic">{{historic.period}}</td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let historic">R$ {{historic.value}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</ion-content>