<ion-content>

  <div id="container" [class.close]="!isMenuOpen" [class.open]="isMenuOpen">
    <div class="hello-message">
      <h2>Olá Parking Solutions</h2>
    </div>

    <div class="spaces-container">
      <div class="reserve-vacancy" routerLink="/register-user" *ngIf="activeReservarVaga">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Reservar Vaga</span>
      </div>

      <div *ngIf="vacanciesStatus.v1 == 0" class="parking-space">
        <div>
          <h2>Vaga SP01</h2>
          <h2>Livre</h2>
        </div>
      </div>

      <div *ngIf="vacanciesStatus.v1 == 1" class="parking-space disponible" (click)="details(vacanciesStatus.detailV1)">
        <div>
          <h2>Vaga SP01</h2>
          <h2>Ocupada</h2>
        </div>
      </div>

      <div *ngIf="vacanciesStatus.v2 == 0" class="parking-space">
        <div>
          <h2>Vaga SP02</h2>
          <h2>Livre</h2>
        </div>
      </div>

      <div *ngIf="vacanciesStatus.v2 == 1" class="parking-space disponible" (click)="details(vacanciesStatus.detailV2)">
        <div>
          <h2>Vaga SP02</h2>
          <h2>Ocupada</h2>
        </div>
      </div>

      <div *ngIf="vacanciesStatus.v3 == 0" class="parking-space">
        <div>
          <h2>Vaga SP03</h2>
          <h2>Livre</h2>
        </div>
      </div>

      <div *ngIf="vacanciesStatus.v3 == 1" class="parking-space disponible" (click)="details(vacanciesStatus.detailV3)">
        <div>
          <h2>Vaga SP03</h2>
          <h2>Ocupada</h2>
        </div>
      </div>

    </div>
    <div class="charts-container">
      <div class="vacancy-details">
        <mat-card>
          <mat-card-header>
            <div class="card-title">
              <mat-card-title>Detalhes do estacionamento</mat-card-title>
            </div>
          </mat-card-header>

          <div class="percentage-chart">
            <canvas baseChart [data]="doughnutChartData" [labels]="parkingCapacity" [plugins]="chartPlugins"
              [colors]="chartColors" [chartType]="doughnutChartType">
            </canvas>

            <div class="details">
              <div class="performance">
                <span>Vagas utilizadas: {{parkingMonivorValues.vacancy_utilized}}</span>
                <mat-icon class="up">arrow_upward</mat-icon>
              </div>
              <div class="available">
                <span>{{parkingMonivorValues.disponible_vacancies}} vagas dísponiveis</span>
              </div>
              <div class="occupied">
                <span>{{parkingMonivorValues.busy_vacancies}} vagas ocupadas</span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-header style="margin-bottom: 10px;">
            <mat-card-title>Resumo - Dados das locações</mat-card-title>
          </mat-card-header>

          <mat-card-content [class.closeResume]="!isMenuOpen" [class.openResume]="isMenuOpen" style="top: -14px;">
            <div class="list">
              <span>Quantidade de vagas locadas hoje: {{establishmentData.qtdRent}}</span>
              <mat-icon
                title="Atualmente, temos {{this.establishmentData.qtdRent - this.establishmentData.yesterdayQtdRent}} a mais que ontem."
                class="up resumeIcon" *ngIf="this.establishmentData.qtdRent > this.establishmentData.yesterdayQtdRent">
                arrow_upward</mat-icon>
              <mat-icon
                title="Atualmente, temos {{this.establishmentData.yesterdayQtdRent - this.establishmentData.qtdRent}} a menos que ontem."
                class="down resumeIcon"
                *ngIf="this.establishmentData.qtdRent < this.establishmentData.yesterdayQtdRent">arrow_downward
              </mat-icon>
              <mat-icon title="Atualmente, temos a mesma quantidade de vagas locadas de ontem."
                class="neutral resumeIcon"
                *ngIf="this.establishmentData.qtdRent == this.establishmentData.yesterdayQtdRent">remove</mat-icon>
            </div>
            <div class="list">
              <span>Quantidade de serviços contradados hoje: {{establishmentData.qtdServices}}</span>
              <mat-icon
                title="Atualmente, temos {{this.establishmentData.qtdServices - this.establishmentData.yesterdayQtdServices}} a mais que ontem."
                class="up resumeIcon"
                *ngIf="this.establishmentData.qtdServices > this.establishmentData.yesterdayQtdServices">arrow_upward
              </mat-icon>
              <mat-icon
                title="Atualmente, temos {{this.establishmentData.yesterdayQtdServices - this.establishmentData.qtdServices}} a menos que ontem."
                class="down resumeIcon"
                *ngIf="this.establishmentData.qtdServices < this.establishmentData.yesterdayQtdServices">arrow_downward
              </mat-icon>
              <mat-icon title="Atualmente, temos a mesma quantidade de serviços realizados de ontem."
                class="neutral resumeIcon"
                *ngIf="this.establishmentData.qtdServices == this.establishmentData.yesterdayQtdServices">remove
              </mat-icon>
            </div>
            <div class="list">
              <span>Tempo médio utilizado nas vagas hoje: {{establishmentData.avgTime}}</span>
              <mat-icon
                title="Atualmente, temos {{this.establishmentData.yesterdayAvgTimeDiference}} horas a mais que ontem"
                class="up resumeIcon" *ngIf="this.establishmentData.yesterdayAvgTimeBigger == 'false'">arrow_upward
              </mat-icon>
              <mat-icon
                title="Atualmente, temos {{this.establishmentData.yesterdayAvgTimeDiference}} horas a menos que ontem"
                class="down resumeIcon" *ngIf="this.establishmentData.yesterdayAvgTimeBigger == 'true'">arrow_downward
              </mat-icon>
              <mat-icon title="Atualmente, temos o mesmo tempo médio de ontem." class="neutral resumeIcon"
                *ngIf="this.establishmentData.yesterdayAvgTimeBigger == 'same'">remove</mat-icon>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="chat-button" routerLink="/chat-bot">
      <mat-icon>chat</mat-icon>
    </ion-fab>
  </div>


</ion-content>