.parking-space {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-left: 32px;
    margin-top: 8px;
    background: lightgrey;
    border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    cursor: pointer;
}

.open {
    margin-left: 250px !important;
    transition: margin-left 0.5s !important;
}

.chat-button {
    cursor: pointer;
    background: cornflowerblue;
    padding: 16px;
    border-radius: 50%;
    position: fixed;
    right: 32px;
    bottom: 50px;
}

.close {
    margin-left: 64px;
    transition: margin-left 0.5s;
}

.disponible {
    border-color:red;
    color: red;
}

.performance {
    display: flex;
    align-items: center;
}

.up {
    color: green;
}

mat-card-header {
    justify-content: center;
}

.reserve-vacancy {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 70%;
    border-radius: 20px;
    background: green;
    color: white;
    width: 150px;
    height: 52px;
    font-size: 16px;
    padding: 8px;
}

.spaces-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    margin-top: 32px;
}

.informations {

    width: fit-content;
    padding: 16px;
    background: lightgray;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 32px;
    margin-top: 32px;

    p {
        font-size: 16px;
        font-weight: 500;
    }
}

.vacancy-details {
    width: 40vw;
}

.charts-container {
    display: flex;
    align-items: baseline;
    column-gap: 20px;
}

.card-title {
    text-align: center;
}

.available {
    border-left: 3px solid green;
    padding-left: 4px;
    margin: 8px 0;
}

.occupied {
    border-left: 3px solid red;
    padding-left: 4px;
}

circle-progress {
    svg {
        transform: scale(0.7);
    }
}

.very-satisfied {
    text-align: center;
    color: green;
}

.user-avaliation-charts {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px !important;
}

.resize-avaliation {
    grid-template-columns: 150px 150px 150px !important;
}

.satisfied {
    text-align: center;
    color: blue;
}

.good {
    text-align: center;
    color: black;
}

.bad {
    text-align: center;
    color: rgb(230, 73, 73);
}

.terrible {
    text-align: center;
    color: red;
}

ion-content {
    --ion-background-color: #e5e5e5;
}

.vacancy-number {
    margin-left: 105px;
    font-size: 18px;
    font-weight: 500;
    color: green;
    margin-top: 100px;
}

.vacancy-container {
    padding-top: 100px;
}


#container {
    padding: 25px;
}