<ion-content>

  <div id="container" [class.close]="!isMenuOpen" [class.open]="isMenuOpen">
    <div class="hello-message">
      <h2>Olá Parking Solutions</h2>
    </div>
    <div class="charts-container">
      <div class="vacancy-details">
        <mat-card>
          <mat-card-header>
            <div class="card-title">
              <mat-card-title>Detalhes do estacionamento</mat-card-title>
            </div>
          </mat-card-header>

          <div class="percentage-chart">
            <canvas baseChart [data]="doughnutChartData" [labels]="parkingCapacity" [plugins]="chartPlugins"
              [colors]="chartColors" [chartType]="doughnutChartType">
            </canvas>

            <div class="details">
              <div class="performance">
                <span>Vagas utilizadas: {{parkingMonivorValues.vacancy_utilized}}</span>
                <mat-icon class="up">arrow_upward</mat-icon>
              </div>
              <div class="available">
                <span>{{parkingMonivorValues.disponible_vacancies}} vagas dísponiveis</span>
              </div>
              <div class="occupied">
                <span>{{parkingMonivorValues.busy_vacancies}} vagas ocupadas</span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="users-avaliations">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Avaliações dos usuários</mat-card-title>
          </mat-card-header>

          <mat-card-content class="user-avaliation-charts" [class.resize-avaliation]="isMenuOpen">
            <div class="very-satisfied">
              <h2>Ótimo</h2>
              <circle-progress [percent]="ratingPerCent.very_satisfied" [radius]="60" [showUnits]="true" [showSubtitle]="false"
                [unitsFontSize]="18" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#008000'"
                [animation]="true" [animationDuration]="300">
              </circle-progress>
            </div>

            <div class="satisfied">
              <h2>Bom</h2>
              <circle-progress [percent]="ratingPerCent.satisfied" [radius]="60" [showUnits]="true" [showSubtitle]="false"
                [unitsFontSize]="18" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#0000FF'"
                [animation]="true" [animationDuration]="300">
              </circle-progress>
            </div>

            <div class="good">
              <h2>Mediano</h2>
              <circle-progress [percent]="ratingPerCent.medium" [radius]="60" [showUnits]="true" [showSubtitle]="false"
                [unitsFontSize]="18" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#000000'"
                [animation]="true" [animationDuration]="300">
              </circle-progress>
            </div>

            <div class="bad">
              <h2>Ruim</h2>
              <circle-progress [percent]="ratingPerCent.bad" [radius]="60" [showUnits]="true" [showSubtitle]="false"
                [unitsFontSize]="18" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#A52A2A'"
                [animation]="true" [animationDuration]="300">
              </circle-progress>
            </div>

            <div class="terrible">
              <h2>Pessimo</h2>
              <circle-progress [percent]="ratingPerCent.very_bad" [radius]="60" [showUnits]="true" [showSubtitle]="false"
                [unitsFontSize]="18" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#FF0000'"
                [animation]="true" [animationDuration]="300">
              </circle-progress>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="spaces-container">
      <div class="reserve-vacancy" routerLink="/register-user">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Reservar Vaga</span>
      </div>

      <div *ngIf="vacanciesStatus.v1 == 0" class="parking-space">
        <h2>Livre</h2>
      </div>

      <div *ngIf="vacanciesStatus.v1 == 1" class="parking-space disponible" (click)="details(vacanciesStatus.detailV1)">
        <h2>Ocupada</h2>
      </div>

      <div *ngIf="vacanciesStatus.v2 == 0" class="parking-space">
        <h2>Livre</h2>
      </div>

      <div *ngIf="vacanciesStatus.v2 == 1" class="parking-space disponible" (click)="details(vacanciesStatus.detailV2)">
        <h2>Ocupada</h2>
      </div>

      <div *ngIf="vacanciesStatus.v3 == 0" class="parking-space">
        <h2>Livre</h2>
      </div>

      <div *ngIf="vacanciesStatus.v3 == 1" class="parking-space disponible" (click)="details(vacanciesStatus.detailV3)">
        <h2>Ocupada</h2>
      </div>

    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="chat-button" routerLink="/chat-bot">
      <mat-icon>chat</mat-icon>
    </ion-fab>
  </div>

 
</ion-content>