table {
    width: 80%;
    margin-left: 10%;
}

.table-container {
    margin-top:50px;
    margin-bottom:50px;
}
.revenue-container {
    display: flex;
    flex-direction: column;
}

.mat-header-cell {
    background-color: cornflowerblue;   
}

.user-perfil {
    transform: scale(0.7);
}

th {
    font-size: 18px;
    color: white;
}

td {
    font-size: 16px;
    .flex-field {
        justify-content: normal;
    }
}

.financial-card {
    display: flex;
    flex-direction: column;
    background-color: snow;
    width: 80vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    border-radius: 20px;

    mat-form-field {
        background-color:#d9d9d9;
        border-radius: 20px;
        
        input {
            padding: 8px;
        }
    }
}

mat-select {
    padding: 0 8px;
    font-size: 18px;
    .mat-select-arrow {
        background: lightblue;
        border-radius: 50%;
    }
}

.charts {
    background-color: white;
    padding: 16px;
    border-radius: 20px;
}

.daily {
    display: flex;
    flex-direction: column;
}

.daily-infos {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.monthly {
    display: flex;
    flex-direction: column;
}

.monthly-infos {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

h4 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 8px;
}

mat-spinner {
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.4);
    margin-top: 50px;
}

.not-values {
    margin-top: 8px;
    font-weight: bold;
}

.total {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 42px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    width: 100vw;
}

.total-value {
    margin-left: 8px;
    background: cornflowerblue;
    color: white;
    border-radius: 20px;
    padding: 16px;
}

ion-content {
    --ion-background-color: #e5e5e5;
}


tr {
    cursor: pointer;
}
  
tr.example-detail-row {
height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

.example-element-row td {
border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.example-element-diagram {
min-width: 80px;
padding: 8px;
font-weight: lighter;
}

.justified {
    justify-content: space-between !important;
}

.details-title {
    text-align: center;
}

.expand {
    background-color: #e5e5e5;
}

.title {
    margin-left: 10%;
    font-size: large;
    font-weight: 500;
    color: grey;
}

canvas {
    width: 60%;
    height: 60%;
}



.example-element-symbol {
font-weight: bold;
font-size: 40px;
line-height: normal;
}

.example-element-description {
padding: 16px;
}

.example-element-description-attribution {
opacity: 0.5;
}

.location-infos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    margin-left: 70px;
    .info {
        display: flex;
        flex-direction: column;
        p {
            font-weight: 500;
        }
    }
}


.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: snow !important;
}
.expanded {
    transition: trasform 1s ease;
}

.collapsed {
    transform: rotate(180deg);
    transition: trasform 1s ease;
}

.flex-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.open {
    margin-left: 250px !important;
    transition: margin-left 0.5s !important;
}

.close {
    margin-left: 64px;
    transition: margin-left 0.5s;
}

.lease-details {
    color: cornflowerblue;
    margin-left: 32px;
}

.select {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    button {
        background: cornflowerblue;
        border-radius: 20px;
    }
}

.selected-year {
    font-size: 18px;
    font-weight: 500;
}

.view-mods {
    display: flex;
    align-items: center;
    margin-left: 70%;
    margin-top: 50px;
    font-weight: 500;
    mat-icon {
        cursor: pointer;
    }
}

.chat-button {
    cursor: pointer;
    background: cornflowerblue;
    padding: 16px;
    border-radius: 50%;
    position: fixed;
    right: 32px;
    bottom: 50px;
}

.mat-option .mat-option-text{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

mat-paginator {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
