<ion-content>
  <div id="container" [class.close]="!isMenuOpen" [class.open]="isMenuOpen">
    
    <div class="financial-card">
      <mat-tab-group dynamicHeight mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab label="Balanço diário">
          <div class="daily">

            <div class="daily-infos">
            <!--
              <mat-form-field appearance="none">
                <mat-select [(value)]="selectedDay">
                  <mat-option *ngFor="let weekDay of weekDays" value="{{weekDay}}">
                    {{weekDay}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            -->
              <p class="total">Valor Total Hoje: R$<span class="total-value">{{balance5day[4]}}</span></p>
            </div>

            <canvas *ngIf="weekLabels" baseChart [datasets]="chartDaily" [labels]="weekLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>

        </mat-tab>

        <mat-tab label="Balanço Mensal">
          <div class="monthly">

            <div class="monthly-infos">
            <!--
              <mat-form-field appearance="none">
                <mat-select [(value)]="selectedMonth">
                  <mat-option *ngFor="let month of months" value="{{month}}">
                    {{month}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            -->
              <p class="total">Valor Total Mês Atual:<span class="total-value"> R${{balance5month[4]}}</span></p>
            </div>

            <canvas *ngIf="monthLabels" baseChart [datasets]="chartMontly" [labels]="monthLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="chat-button" routerLink="/chat-bot">
      <mat-icon>chat</mat-icon>
    </ion-fab>
  </div>
</ion-content>