<ion-content>

  <div id="container" [class.close]="!isMenuOpen" [class.open]="isMenuOpen">
    <h2 class="title">GERENCIAMENTO DO ESTACIONAMENTO</h2>
    <div class="services-manager" [class.resise]="isMenuOpen">
      <div class="new-service">

        <div class="add-new-service" (click)="addNewService()">
          <span>adicionar serviço</span>
          <mat-icon *ngIf="!newService">add</mat-icon>
          <mat-icon *ngIf="newService">remove</mat-icon>
        </div>
        <div class="mini-form" [class.show-form]="newService">
          <div class="input-container" *ngIf="newService">
            <mat-label>nome</mat-label>
            <mat-form-field class="form-input" appearance="none">
              <input matInput [(ngModel)]="serviceName">
            </mat-form-field>
          </div>

          <div class="input-container" *ngIf="newService">
            <mat-label>Qtd de Dias ativos na semana</mat-label>
            <mat-form-field class="form-input" appearance="none">
              <input matInput [(ngModel)]="serviceQtdDay">
            </mat-form-field>
          </div>

          <div class="input-container" *ngIf="newService">
            <mat-label>Valor</mat-label>
            <mat-form-field class="form-input" appearance="none">
              <input matInput currencyMask [options]='currencyOption' ngDefaultControl [(ngModel)]="serviceValue">
            </mat-form-field>
          </div>
        </div>
        <button mat-button (click)="addNewServiceValues()">
          Adicionar
        </button>
      </div>

      <div class="services-status">
        <div class="services">
          <h2>Serviços</h2>
          <div *ngFor="let service of services"  class="services">
            <span class="value">{{service.service_name}}</span>
          </div>
        </div>

        <div class="status">
          <h2>Status</h2>
          <div *ngFor="let service of services">
            <div class='status-item'>
              <span class="value" *ngIf="service.active">Ativo</span>
              <span class="value" *ngIf="!service.active">Inativo</span>
              <ion-toggle [(ngModel)]="service.active" (ionChange)="updateService(service)"></ion-toggle>
            </div>
        </div>
        </div>
      </div>

    </div>


    <div class="period-manager" [class.resise]="isMenuOpen">
      <div class="update-period">
        <div class="new-period" (click)="addNewPeriod()">
          <span>alterar horário</span>
          <mat-icon *ngIf="!newPeriod">add</mat-icon>
          <mat-icon *ngIf="newPeriod">remove</mat-icon>
        </div>

        <div class="mini-form" [class.show-form-2]="newPeriod">

          <div class="working-hours" *ngIf="newPeriod">
            <mat-label>Horário de funcionamento</mat-label>
          <div class="flex-form">
            <mat-label>Abertura</mat-label>
            <mat-form-field class="form-input work-hour first" appearance="none" >
              <mat-select [(value)]="openingHour.open" [(ngModel)]="openingHour.open">
                <mat-option *ngFor="let hour of dailyHours" value="{{hour}}">
                  {{hour}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="flex-form">
            <mat-label>Fechamento</mat-label>
            <mat-form-field class="form-input work-hour second" appearance="none">
              <mat-select [(value)]="openingHour.close" [(ngModel)]="openingHour.close">
                <mat-option *ngFor="let hour of dailyHours" value="{{hour}}">
                  {{hour}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      
          <div class="period" *ngIf="newPeriod">
            <mat-label>Dias de funcionamento</mat-label>
            <div class="flex-form" *ngIf="newPeriod">
              <mat-label>Dê</mat-label>
              <mat-form-field class="form-input open-period" appearance="none">
                <mat-select [(value)]="openingHour.day_week_init" [(ngModel)]="openingHour.day_week_init">
                  <mat-option *ngFor="let weekDay of weekDays" value="{{weekDay}}">
                    {{weekDay}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="flex-form" *ngIf="newPeriod">
              <mat-label>À</mat-label>
              <mat-form-field class="form-input close-period" appearance="none">
                <mat-select [(value)]="openingHour.day_week_end" [(ngModel)]="openingHour.day_week_end">
                  <mat-option *ngFor="let weekDay of weekDays" value="{{weekDay}}">
                    {{weekDay}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </div>
        <button mat-button (click)="updateOpeningHour()">
          Alterar
        </button>
      </div>

      <div class="period-details">
        <h2>Funcionamento</h2>
        <span class="days">Dias: <span class="value">{{openingHour.day_week_init}} a {{openingHour.day_week_end}}</span></span>
        <span>Período: <span class="value">{{openingHour.open}} às {{openingHour.close}}</span></span>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="chat-button" routerLink="/chat-bot">
      <mat-icon>chat</mat-icon>
    </ion-fab>
  </div>
</ion-content>