.services-table-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;    
    column-gap: 16px;
    margin: 16px;
    padding: 16px;
    row-gap: 16px;
    border-radius: 20px;
    row-gap: 0;
}


.justified {
    justify-content: space-between !important;
}

.table-container {
    margin-top:50px;
    display: inline-grid;
    padding-bottom: inherit;
}

.lease-details {
    color: cornflowerblue;
    margin-left: 40px;
    display: flex;
    cursor: pointer;
}

.mat-header-cell {
    background-color: cornflowerblue;   
}

.user-perfil {
    transform: scale(0.7);
}

.expand {
    background-color: #e5e5e5;
}

.title {
    margin-left: 10%;
    font-size: large;
    font-weight: 500;
    color: grey;
}

.details-title {
    text-align: center;
}
tr.example-element-row:not(.example-expanded-row):hover {
background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

tr.example-detail-row {
    height: 0;
    }

    .example-element-row td {
        border-bottom-width: 0;
        }

.location-infos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    margin-left: 70px;
    .info {
        display: flex;
        flex-direction: column;
        p {
            font-weight: 500;
        }
    }
}


.example-element-detail {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.example-element-diagram {
    min-width: 80px;
    padding: 8px;
    font-weight: lighter;
    }

.flex-field {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.flex-field-lease {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
th {
    font-size: 18px;
    color: white;
}

td {
    font-size: 16px;
}

table tr:last-child td {
  border-bottom:0 solid
}

ion-content {
    --ion-background-color: #e5e5e5;
}

.open {
    margin-left: 250px !important;
    transition: margin-left 0.5s !important;
}

.close {
    margin-left: 150px;
    transition: margin-left 0.5s;
}

.chat-button {
    cursor: pointer;
    background: cornflowerblue;
    padding: 16px;
    border-radius: 50%;
    position: fixed;
    right: 32px;
    bottom: 50px;
    width:60px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

