.services-table-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;    
    column-gap: 16px;
    margin: 16px;
    padding: 16px;
    row-gap: 16px;
    border-radius: 20px;
    row-gap: 0;
}

.mat-header-cell {
    background-color: cornflowerblue;   
}

.user-perfil {
    transform: scale(0.7);
}



.flex-field {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

th {
    font-size: 18px;
    color: white;
}

td {
    font-size: 16px;
}

table tr:last-child td {
  border-bottom:0 solid
}

ion-content {
    --ion-background-color: #e5e5e5;
}

.open {
    margin-left: 250px;
    transition: margin-left 0.5s;
}

.close {
    margin-left: 64px;
    transition: margin-left 0.5s;
}


