.services-table-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 10vw;
    column-gap: 16px;
    margin: 16px;
    padding: 16px;
    row-gap: 16px;
    border-radius: 20px;
}

.mat-header-cell {
    background-color: cornflowerblue;   
}

th {
    font-size: 18px;
    color: white;
}

td {
    font-size: 16px;
}

table tr:last-child td {
  border-bottom:0 solid
}

ion-content {
    --ion-background-color: #e5e5e5;
}


