<ion-content>

  <div class="services-table-container" [class.open]="isMenuOpen" [class.close]="!isMenuOpen">

    <h2>MONITORAMENTO DOS SERVIÇOS</h2>

    <table mat-table [dataSource]="services" class="mat-elevation-z8">


      <ng-container matColumnDef="{{collumn}}" *ngFor="let collumn of displayedColumns; let index=index">
        <th mat-header-cell *matHeaderCellDef>{{collumn}}</th>
        <td mat-cell *matCellDef="let services">
          <div [class.flex-field]="index == 0">
            <ion-avatar *ngIf="index == 0">
              <img class="user-perfil" src="{{services.imagem}}">
            </ion-avatar>
            {{services[collumn]}}
          </div>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="2" [length]="2"></mat-paginator>

  </div>

</ion-content>