.father-div {
    width: 720px;
    background-color: snow;
    border-radius: 20px;
    width: 80vw;
    margin-left: 10vw;
    padding: 32px;
    margin-top: 50px;
    margin-bottom:  50px;
}

.mat-form-field-subscript-wrapper {
    background-color:white;
}

.formulario {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 50px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
   

    button {
        font-size: 18px;
        font-weight: 500;
        width: 280px;
        border-radius: 40px;
        height: 52px;
        border: 1px solid lightblue;
    }
}

.right {
    width: 350px;
}

.input-container, .password{
    width: 60%;
}

.form-input {
    background-color: #d9d9d9;
    border-radius: 10px;
    padding-left: 8px;
    height: 52px;
    margin-bottom: 18px;
}
.input-container {
    display: flex;
    flex-direction: column;
    width: auto;
}
mat-label {
    margin-left: 6px;
    font-weight: 500;
}

.password {
    width: 60%;
}

ion-content {
    --ion-background-color: #e5e5e5;
}