.father-div {
    width: 720px;
    background-color: snow;
    border-radius: 20px;
    width: 80vw;
    margin-left: 10vw;
    padding: 32px;
    margin-top: 50px;
    margin-bottom:  50px;
}

.mat-form-field-subscript-wrapper {
    background-color:white;
}

.formulario {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 50px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
   

    button {
        font-size: 18px;
        font-weight: 500;
        width: 250px;
        border-radius: 40px;
        height: 42px;
        border: 1px solid lightblue;
    }
}

input[type="file"] {
    display: none;
}

.right {
    width: 350px;
}

.input-container, .password{
    width: 60%;
}

mat-icon {
    margin-top: 3px;
}

.form-input {
    background-color: #d9d9d9;
    border-radius: 10px;
    padding-left: 8px;
    height: 52px;
    margin-bottom: 18px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: auto;
}
mat-label {
    margin-left: 6px;
    font-weight: 500;
}

.password {
    width: 60%;
}

ion-content {
    --ion-background-color: #e5e5e5;
}

.photo-input {
    flex-direction: row;
}

.add-photo {
    margin-left: 8px;
    cursor: pointer;
}

.cover-photo {
    height: 100px;
    border-radius: 20px;
}

.image-container {
    margin-left: auto;
    margin-right: 10%;
    display: flex;
}

.none-image {
    margin-right: 10%;
}

.open {
    margin-left: 300px !important;
    width: 70vw;
    transition: margin-left 0.5s !important;
}

.chat-button {
    cursor: pointer;
    background: cornflowerblue;
    padding: 16px;
    border-radius: 50%;
    position: fixed;
    right: 32px;
    bottom: 50px;
    width:60px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.close {
    margin-left: 150px;
    transition: margin-left 0.5s;
}

.remove-photo {
    font-size: 28px;
    background: #d1d1d1;
    height: fit-content;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
}