.father-div {
    width: 720px;
    background-color: lightblue;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    width: 80vw;
    margin-left: 10vw;
    padding: 32px;
    border: 5px solid white;
    margin-top: 50px;
    margin-bottom:  50px;
}

.photo-input {
    flex-direction: row;
}

.funcioning {
    flex-direction: row;
    column-gap: 8px;
}

.flex-form {
    display: flex;
    align-items: baseline;
    column-gap: 16px;
    margin-top: 16px;
    .to {
        margin-left: 8px;
    }
    .open {
        margin-left: 24px;
    }
}

input[type="file"] {
    display: none;
}

.image-container {
    margin-left: auto;
    margin-right: 10%;
    display: flex;
}

.none-image {
    margin-right: 10%;
}

img {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.mat-form-field-subscript-wrapper {
    background-color:white;
}

.formulario {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 50px;
}

.remove-photo {
    cursor: pointer;
    font-size: 42px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 62px;

    button {
        background-color: black;
        color: white;
        font-size: 18px;
        font-weight: 500;
        width: 280px;
        border-radius: 40px;
        height: 52px;
    }
}

.right {
    width: 350px;
}

ion-content{

    --ion-background-color:cornflowerblue;
}

.form-input {
    background-color: white;
    border-radius: 10px;
    padding-left: 8px;
    height: 52px;
    margin-bottom: 18px;
    font-weight: normal !important;
}
.input-container {
    display: flex;
    flex-direction: column;
    width: auto;
}
mat-label {
    margin-left: 6px;
    font-weight: 500;
}

.password {
    width: 60%;
}

.add-photo {
    position: absolute;
    margin-left: 8px;
    margin-top: 0;
    cursor: pointer;
    font-size: 32px;
}

.cover-photo {
    width: 200px;
    border-radius: 20px;
    height: 200px;
    margin-left: auto;
    display: flex;
}